@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');
*{
	padding: 0;
	margin: 0;
	transition: 2s;
	/*box-sizing: border-box;*/
}
/*===================change color for dark & light mode=============*/
:root{
	--body-color:#A020F0;
	--font-color:#000;
	--icon-color:#ffffff;
	--text-heading:#333;
	--icon-bg:#A020F0;
	--head-bg:#f0f0f0;
}
[data-theme="dark"]{
	--body-color:#000;
	--font-color:#ffffff;
	--icon-color:#000000;
	--text-heading:#f1f1f1;
	--icon-bg:#00ffff;
	--head-bg:#A9A9A9;

}
/*===================dark & light mode=================*/
.view-mode{
	width: 4rem;
	height: 4rem;
	background-color: var(--font-color);
	border-radius: 50%;
	box-shadow: rgba(0,0,0,0.2);
	position: fixed;
	bottom:25px;
	right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1111111;
}
.view-mode:hover{
	cursor: pointer;
}
.view-mode span{
	color: var(--icon-color);
	font-size: 30px;
}
/*==================body===============*/
body{
	/*background-color: var(--body-color);*/
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;


}
/*=================colors list for this website*/
/*#9932CC,#8B008B,#00d4ff*/
/*===================top-header=============================*/
.top{
	background-color: var(--body-color);
	
}
.top_curve{
	clip-path: polygon(100% 0%, 100% 74%, 50% 100%, 0% 75%, 0 0)!important;	
}
.top_heading{
	font-size: 18px;
	padding: 10px;
	letter-spacing: .5px;
	text-transform: uppercase;
	color:var(--font-color);	
}
.top_list_icon{
	list-style: none;
	display: inline-flex;
	padding: 5px 10px;
	margin-top: 5px;
}
.top_list_icon li a{
	color:var(--font-color);
	padding: 0 15px;
	font-size: 18px;
}
/*=====================meddle heading===============*/
/*.middle_heading{
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
	color: #9932CC;	
}
.middle_icons{
	color: #000000;
}*/
/*========================heading==========================*/
.brand{
	color: #00ffff!important;
	font-size: 30px;	
}
.nav_bar_link a{
	color: var(--font-color)!important;
	font-size: 18px;
	font-weight: 500;
	line-height: 50px;
	/*border-bottom: 1px solid var(--font-color);*/
}
/*.nav_bar_link a:hover{
	border-bottom: 2px solid var(--font-color);
	transition: 2s!important;
}*/
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #00ffff;
} 

.contact_side {
	position: relative;
	margin-top: -20px;
	background-color: #00ffff;
	color: #000000;
	padding: 10px;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	display: block;
	letter-spacing: .5px;

}
/*=====================caurosel===================*/
.carousel_img{
		width:48vw;
		height: 50vw;
	}
.caurosel_text{
	color: #00ffff;
	padding: 5px ;
	font-size: 16px;
}
.caurosel_heading{
	color:  var(--font-color);
	
}
.caurosel_span{
	color:  var(--icon-bg);
	
}
.caurosel_span1{
	color:  #00ffff;
	
}
.caurosel_paragraph{
	color: var(--font-color);
	padding: 10px 15px 10px 0;
	letter-spacing: .5px;
	line-height:28PX;
	
}
.btn{
	background-color: transparent;
	color: #00ffff;
	border: 1px solid #00ffff;
	padding: 10px 20px;
}
.btn:hover{
	color: var(--font-color);
}
/*==================services===================*/
.service{
	background-color: #f0f0f0!important;

}
.service_heading{
	text-align: center;
	padding: 50px 0 0 5px;
	letter-spacing: 1px;
}
.service_paragraph{
	text-align: center;
	padding: 5px 0 50px 0;
}
.box1{
	margin: 25px 0;
	background-color: #000000;
	
}
.box{
	margin: 25px 0;
	background-color: #ffffff;
}
.icon{	
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none!important;

}
.fa-paint-brush,.fa-code,.fa-briefcase,.fa-tv,.fa-film,.fa-mobile{
	background-color: var(--icon-bg);
	padding: 15px;
	margin-top: -25px;
	color: #000000;
	font-size:30px!important;

}
.box_heading1{
	font-size: 20px;
	text-align: center;
	font-weight: 500;
	padding-top: 35px;
	margin-top: 10px;
	color: #ffffff;
}
.box_paragraph1{
	font-size: 16px;
	font-weight: 400;
	padding: 10px 20px;
	color: #ffffff;
}
.box_heading{
	font-size: 20px;
	text-align: center;
	font-weight: 500;
	padding-top: 35px;
	margin-top: 10px;
	color: #000000;
	letter-spacing: .5px;
}
.box_paragraph{
	font-size: 16px;
	font-weight: 400;
	padding: 10px 20px;
	color: #000000;
	letter-spacing: .5px;
}
/*====================Available==================*/
.available_img{
	background-image: url('img/available.jpg');	
	background-repeat: no-repeat;
	background-size: contain;
	height: 60vw;
	background-color: var(--icon-color);
	clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%)!important;
}
.available_heading{	
	position: relative;
	text-align: center;
	letter-spacing: .5px;
	color: #ffffff;
	padding-top: 400px;  
	
	}
.available_paragraph{
	position: relative;
	text-align: center;
	color: #ffffff;
	letter-spacing: .5px;
}
.btn1{
	position: relative;	
	margin-left: 46%;
	margin-top: 50px;
	background-color: transparent;
	color: #000000;
	border: 1px solid var(--icon-bg);
	padding: 10px 20px;
}
.btn1:hover{
	background-color: var(--icon-bg);
	color: #000;
}

/*====================Testimonials==================*/
.testimonial_img{
	width:100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	margin: auto;
}
.testimonial_heading{
	text-align: center;
	color: #000000;
	letter-spacing: .5px;
	padding: 10px 0 0 0;
	font-size: 20px;
	line-height: 30px;
}
.testimonial_heading2{
	text-align: center;
	color: #000000;
	padding: 0 0 10px 0;
	font-size: 20px;
	letter-spacing: .5px;
}
.testimonial_paragraph{
	text-align: center;
	line-height: 25px;
	padding: 5px 0 50px 0;
	letter-spacing: 1px;
}
/*====================price===============*/
.price{
	background-image: url('img/price.jpg');
}
.price_head{
	text-align: center;
	padding: 50px 0 0 5px;
	letter-spacing: 1px;
	color: #ffffff;
}
.price_heading{
	color: #000000;
	background-color:var(--icon-bg);
	text-align: center;
	padding: 50px 15px;
	font-size: 22px;
	line-height: 30px;
	border-bottom: 1px dotted #000000;
}
.rate{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	border-bottom: 1px dotted #000000;
}
.price_paragraph1{
	padding: 5px 15px;
	letter-spacing: 1px;
	color: #000000;
}
.price_paragraph{
	border-bottom: 1px dotted #000000;
	padding: 5px 15px;
	letter-spacing: 1px;
	color: #000000;
}

.btn_price{
	text-align: center;
	display: block;
	background-color: #000000;
	color: var(--icon-bg);
	padding: 20px 10px;
	font-size: 20px;
	border: 2px solid var(--icon-bg);
}
.btn_price:hover{
	background-color: var(--icon-bg);
	color: #000000;
	border: 2px solid #000000;
	border-radius: 0;
}
/*=====================happy clients================*/
.carousel-indicators li {   
    background-color: var(--icon-bg);  
}
.carousel-control-prev span{
	 background-color: var(--icon-bg);
	
}
.carousel-control-next span{
	background-color: var(--icon-bg);
}
/*===================footer==================*/
.foot{
	background-color: #000000;
	margin: 0;padding: 0;
	clip-path: polygon(0% 20%, 100% 0%,100% 100%, 0% 100%)!important;


	/*clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%)!important;*/
}
.footer_heading{
	position: relative;
	padding-top: 100px; 
	text-align: center;
	color: #ffffff;
}
.footer_lists{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.footer_lists li{
	display: inline-block;
	
}
.footer_lists li a{
	padding: 10px 15px;
	text-align: center;
	font-size: 25px;
	color: #ffffff;
	line-height: 30px;
}
.footer_span1{
	color: var(--icon-bg);
	font-size: 45px!important;
}
.footer_paragraph,.mylink{
	text-align: center;
	color: #ffffff;
	padding: 10px 0 20px 0;
}
.mylink{
	color:var(--icon-bg);
	}
.footer_lists li a:hover{
	background-color: #ffffff;
	color: #000000;
	border-radius: 55%;
	/*padding: 10px;*/
}
.fa-copyright{
	font-size: 20px!important;
}
/*.fa-facebook-f{
	color: #4267B2;
}
.fa-whatsapp{
	color: #075e54;
}
.fa-instagram{
	color: #8a3ab9;
}
.fa-linkedin{
	color: #0e76a8;
}
.fa-github{
	color: #4078c0;
}
.fa-youtube{
	color: #FF0000;
}
.fa-twitter{
	color:  #00acee;
}
.fa-codepen{
	color: #212121;
}*/

/*===================about-page=================*/
.about_head{
	background-color: #f1f1f1;
}
.about_heading{
	text-align: center;
	padding: 50px 0 15px 0;	
	line-height: 30px;
}
.about_paragraph{
	padding: 10px 15px;
	line-height: 50px;
	letter-spacing: 1px;
	word-spacing: 1px;
	font-size: 20px;
}
/*==================contact-page===================*/
.contact{
	background-color: var(--head-bg);
}
.contact1{
	background-color: #ffffff;
}
.contact_head{	
	margin: 0!important;
	text-align: center;
	padding: 50px;
	font-size: 35px;
	letter-spacing: .5px;	
	
}
.contact_heading{
	padding: 10px;
	margin-left: 10px;
	margin-top: 50px;
	color: var(--icon-bg);
	font-size: 25px;
	letter-spacing: .5px;
}
.contact_address{
	font-size: 18px;
	line-height: 35px;
	color: #000000;
	padding: 10px 10px 2px 10px;
	margin-left: 20px;

}
.contact_form{
	padding: 10px;
	margin-top: 50px;
	margin-left: 10px;
	color: #000000;
	font-size: 25px;
	letter-spacing: .5px;
}
input,textarea{
	border: none;
	border-outline:none;
	padding: 10px 15px 10px 10px;
	margin: 10px 5px 5px 5px;
	border-bottom: 1px solid var(--icon-bg);
}
.btn_form{
	background-color: #000000;
	padding: 15px ;
	font-size: 20px;
	color: var(--icon-bg);
	border: 1px solid var(--icon-bg);
	margin-bottom: 50px;
}
.btn_form:hover{
	background-color: #ffffff;
	color: #000000;
}

/*=====================blogs pages==========================*/
.blogs_heading{
	font-size: 23px;
	padding: 20px 0;
	color: #000000;
	line-height: 30px;
	margin-top: 20px;
}
.blog_side{
	background-color: var(--head-bg);
}
.blog_order_list{
	padding-bottom: 10px;
	list-style: none;
}
.blog_list{
	font-size: 20px;
	border-bottom: 1px dotted var(--icon-bg);
	padding: 10px 0 5px 5px;
	text-decoration: none;
	}
.fa-angle-double-right{
	color: var(--icon-bg);	
}
.blog_list,.blog_item{
	text-decoration: none;
	color: #000000;
}
.blog_item:hover{
	text-decoration: none;
	color: #000000;
}
.blog_head{
	font-size: 40px;
	padding: 20px 5px;
	border-bottom: 1px solid var(--icon-bg);
}
.blog_paragraph{
	font-size: 16px;
	letter-spacing: .5px
	word-spacing:.5px;
	line-height: 40px;
	padding: 10px 20px;
}
.page_list{
	list-style: none;
	margin-left: 150px;	
	
}
.page_list li{
	display: inline-flex;
	padding: 5px;

}
.page_list li a{
	color: #000000;
}
.page_list li a:hover{
	color: #000000;
}
.btn_page{
	border: 1px solid var(--icon-bg);
	color: var(--icon-bg)!important;
}
/*=========================templates page==================*/
.box{

}
.templates_head{
	font-size: 40px;
	color: #000000;
	border-bottom: 2px solid var(--icon-bg);
	padding: 10px;
}
.template_para{
	font-size: 20px;
	color: #000000;
	word-spacing: 1px;
	letter-spacing: .5px;
	padding: 10px 25px 40px 15px;
}
.templates_heading{
	padding: 15px 10px 10px;
	color: #000000;
	border-bottom: 1px solid #000000;
}
.templates_paragraph{
	padding: 15px;
	font-size: 18px;
	letter-spacing: .5px;
	word-spacing: .5px;
}
.templates_btn{
	margin:20px 10px;
	color: #000000;
	background-color: var(--icon-bg);

}
.templates_btn:hover{
	background-color: #000000;
	color: #00ffff;
}
/*==================================service page===================*/
/*.service{
	background-color: #ffffff;
}*/
/*======================responsive design=========================*/
@media all and (min-device-width: 320px) and (max-device-width: 640px){
	.carousel_img{
		width:100%;
		height: 100%;
	}
	.top_curve{
	clip-path: polygon(100% 0%, 100% 85%, 30% 100%, 0% 100%, 0 0)!important;	
}
	.btn{
		margin-bottom: 20px;
	}
	.available_heading{
		padding-top:30px;
		font-size: 18px; 
	}
	.available_paragraph{
		font-size: 12px;
	}
	.btn1{
		margin-top: 35px;
		margin-left: 30%;
	}
	.footer_lists li a{
		padding: 10px;
	}
	.about_heading{
	text-align: center;
	padding: 15px 0;
	margin-top: 20px;
	line-height: 30px;
	font-size: 25px;
	}
	.about_paragraph{
	padding: 10px 15px;
	line-height: 40px;
	letter-spacing: .5px;
	word-spacing: .5px;
	font-size: 18px;
	}

	.contact_head{		
	font-size: 30px;
	letter-spacing: .5px;
	}

	.contact_heading{	
	font-size: 25px;
	letter-spacing: .5px;
	}
	.contact_address{
		font-size: 15px;
		line-height: 30px;		
		}

	.footer_lists li a{	
	font-size: 20px;
	
	}	
	.footer_paragraph,.mylink{
	font-size: 14px;
	}
	
	.carousel_img{		
		opacity: 0;
	}
	.box_paragraph1,.box_paragraph{
	text-align: center;
	}
	.contact_side {
	padding: 10px ;
	text-align: center;
	font-weight: 300;
	font-size: 18px;
	}
	.img_media{
		background-image: url('coming-soon/3dlayer.png');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.templates_btn{
	margin:20px 5px;
	padding: 12px;
	}
	.templates_head,.templates_heading{
		font-size: 30px;
	}
	.template_para,.templates_paragraph{
		font-size: 15px;
	}
	.blog_list{
		font-size: 18px;
		border-bottom: 2px dotted var(--icon-bg);
	}
	.blog_head{
		font-size: 25px;
	}
	.page_list{
		margin-left: 18px;
		padding: 2px;	
	
	}
	.btn_page{
		padding: 12px;
	}
	@media all and (min-device-width: 768px) and (max-device-width: 1024px){

	}
